/*
 Meta-data information
*/

manifest {
	description = 'This pipeline processes raw RNA-seq data to generate read count tables and signal tracks.'
	mainScript = 'standard_RNA-seq.nf'
	nextflowVersion = '20.04.1'
	version = '0.0.1'
	author = 'Yuvia A. PEREZ RICO - Lena CLERQUIN'
}

/*
 Initialize parameters
*/

params {
	sampleInfo = '/scratch/user/RNA-seq/sampleDescription_PE.txt'
	chunkSize = 5000000
	outDir = '/home/user/Documents/project_RNA-seq'
	genomeDirPath = '/home/user/Documents/references/mm10/indexes/STAR_2.7.2b/mm10'
	annotations = '/home/user/Documents/references/mm10/annotation/Mus_musculus.GRCm38.100.gtf'
	rsTPM = '/scratch/user/RNA-seq/TPM_normalization.R'
	pairedEnd = 'yes'
	tmpOutDir = '${TMPDIR}'
	numCPUs = 10
	numCPUs_Dtools = 20
}

/*
 Set process requirements
*/

process {
	executor = 'slurm'
	scratch = '/scratch/user'
	memory = 20.GB
	time = 20.m
	cpus = 1

	withLabel: fastq_splitting {
		memory = 1.GB
		time = 180.m
	}

	withLabel: counting {
		memory = 500.MB
	}

	withLabel: signal_tracks {
		cpus = "${params.numCPUs_Dtools}"
		time = 50.m
		memory = 40.GB
	}

	withName: get_program_versions {
		memory = 100.MB
		time = 30.s
	}

	withName: fastq_quality {
		cpus = "${params.numCPUs}"
		time = 120.m
		memory = 3.GB
	}

	withName: trim_reads {
		memory = 1.GB
	}

	withName: read_mapping {
		cpus = "${params.numCPUs}"
		memory = 40.GB
		time = 50.m
	}

	withName: mapped_filter {
		memory = 1.GB
		time = 30.m
	}

	withName: sort_bams {
		memory = 30.GB
		time = 90.m
	}

}


